.about {
  padding: 42px 0;

  @include tablet {
    padding: 80px 0 100px;
  }

  @include desktop {
    padding: 80px 0 100px;
  }
}

.about__content {
  display: grid;
  justify-items: center;

  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    column-gap: 120px;
  }
}

.about__text-content {
  margin-bottom: 40px;

  @include tablet {
    display: grid;
    max-width: 430px;
    row-gap: 25px;
    margin-bottom: 79px;
  }

  @include desktop {
    margin: 0
  }
}

.about__title {
  @extend %title;

  margin-bottom: 24px;
  text-align: center;

  font-size: 25px;
  line-height: 130%;
  color: $asphalt_color;

  @include tablet {
    margin: 0;
    text-align: start;
    font-size: 35px;
  }
}

.about__description {
  margin: 0;
  text-align: justify;
  padding: 0 15px;

  &:first-of-type {
    margin-bottom: 22px;
  }

  @include tablet {
    text-align: start;
    margin: 0;
    padding: 0;

    &:first-of-type {
      margin: 0;
    }
  }
}

.about__img {

  @include tablet {
    width: 300px;
  }
}
