.donation {
  padding: 42px 0;
  background-color: $smoky_white;

  @include tablet {
    padding: 80px 0 100px;
  }

  @include desktop {
    padding: 80px 0 100px;
  }
}

.donation__content {
  display: grid;
  row-gap: 42px;
  justify-items: center;

  @include tablet {
    row-gap: 59px;
  }

  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 0;
  }
}

.donation__text-content {
  display: grid;
  row-gap: 20px;
  justify-items: center;

  color: $asphalt_color;

  @include tablet {
    justify-items: flex-start;
    margin: 0;
    max-width: 380px;
  }
}

.donation__title {
  @extend %title;

  text-align: center;
  font-size: 25px;
  line-height: 130%;

  @include tablet {
    text-align: start;
    font-size: 35px;
  }
}

.donation__subtitle {
  @extend %title;

  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0;

  @include tablet {
    letter-spacing: 0.06em;
    line-height: 110%;
  }
}

.donation__requisites {
  display: flex;
  align-items: center;
  padding: 10px 15px;

  background-color: $desert_sand;
  border-radius: 9px;
}

.donation__icon {
  margin-right: 15px;
}

.donation__number-card {
  @extend %title;

  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 110%;
  color: $asphalt_color;
  text-decoration: none;

  @include tablet {
    font-size: 20px;
    line-height: 115%;
  }
}

.donation__info {
  padding: 0 10px;
  margin: 0;
  font-style: italic;
  text-align: justify;
  font-size: 12px;
  line-height: 18px;
  color: $light_gray;

  @include tablet {
    text-align: start;
    padding: 0;
  }
}

.donation__img {
  @include tablet {
    width: 505px;
  }
}
