.promo {
  padding-top: 150px;
  background: url(../../img/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  @include desktop {
    padding-top: 180px;
  }
}

.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    flex-direction: row;
    align-items: flex-start;
  }
}

.promo__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 42px;
  margin-bottom: 105px;
  width: 300px;

  @include tablet {
    margin-bottom: 100px;
    width: 460px;
    row-gap: 41.5px;
  }

  @include desktop {
    margin: 0;
    margin-top: 163px;
  }
}

.promo__title {
  @extend %title;

  text-align: center;
  font-size: 25px;
  line-height: 130%;
  color: white;
  letter-spacing: 0.06em;


  @include tablet {
    text-align: start;
    align-self: flex-start;
    font-size: 44px;
    letter-spacing: 0;
  }
}

.promo__description {
  text-align: center;
  margin: 0;
  color: $light_telegray;

  @include tablet {
    text-align: start;
  }

}

.promo__link {
  @extend %link_button;

  justify-self: center;
  max-width: 208px;

  background-color: $desert_sand;

  &:hover {
    background-color: $apricot_criola;
  }

  @include desktop {
    align-self: start;
  }
}

.promo__img {
  display: flex;
  margin-top: auto;
  margin-left: auto;

  @include tablet {
    width: 569px;
  }

  @include desktop {
    width: 698px;
  }
}
