$desktop_width: 1280px;
$tablet_width: 768px;
$mobile_width: 320px;

$light_telegray: #CDCDCD;
$desert_sand: #F1CDB3;
$light_white: #FAFAFA;
$signal_black: #292929;
$asphalt_color: #545454;
$smoky_white: #F6F6F6;
$light_gray: #B2B2B2;
$apricot_criola: #FDDCC4;
