.pets__list {
  @extend %reset_default_styles_list;
  display: grid;
  row-gap: 30px;

  @include tablet {
    grid-template-columns: repeat(2, auto);
    column-gap: 40px;
    margin-bottom: 39px;
  }

  @include desktop {
    grid-template-columns: repeat(4, auto);
    padding: 15px 0;
    margin-bottom: 44px;
  }

}

.pets__item {
  &--3~.pets__item {
    display: none;
  }

  @include tablet {
    &--1~.pets__item {
      display: block;
    }

    &--6~.pets__item {
      display: none;
    }
  }

  @include desktop {
    &--1~.pets__item {
      display: block;
    }
  }

}

.pagination {
  display: flex;
  // grid-template-columns: repeat(5, auto);
  column-gap: 10px;

  @include tablet {
    margin-bottom: 6px;
    column-gap: 20px;
  }

  @include desktop {
    margin-bottom: 0;
  }
}
