.header {
  position: absolute;

  padding-top: 30px;
  width: 100%;

  @include desktop {
    padding-top: 60px;
  }

  &--our-pets {
    padding-bottom: 30px;
    min-width: 100%;
    position: absolute;
    top: 0;
    background-color: white;

    @include tablet {
      position: fixed;
    }

    @include desktop {
      padding-top: 30px;
    }
  }
}

.header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 43px;

  @include tablet {
    align-items: center;
    margin: 0;
  }

}

.header__toggle {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 22px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 100;
  transition-duration: 1s;

  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: $desert_sand;
    box-shadow: 0 10px 0 0 $desert_sand,
      0 -10px 0 0 $desert_sand;
      transition-property: background-color, box-shadow;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;

    }

  &--opened {
    transform: rotate(90deg);
  }

  @include tablet {
    display: none;
  }
  &--our-pets::before {
    transition-property: background-color, box-shadow;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    background-color: black;
    box-shadow: 0 10px 0 0 black,
      0 -10px 0 0 black;
  }
}
