.nav {
  display: none;

  @include tablet {
    display: block;
  }
}

.nav__list {
  @extend %reset_default_styles_list;
  display: grid;
  row-gap: 40px;
  align-items: center;
  justify-items: center;
  font-size: 32px;
  line-height: 160%;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 36px;
    row-gap: 10px;
    align-items: stretch;
    font-size: 15px;
  }

}

.nav__link {
  display: block;
  text-decoration: none;

  &--current {
    border-bottom: 3px;
    border-bottom-color: $desert_sand;
    border-bottom-style: solid;
  }

  &--main-page {
    color: $light_telegray;
  }

  &--main-page-current {
    color: $light_white;
  }

  &--main-page:hover {
    border-color: transparent;
    color: $light_white;
  }

  &--our-pets {
    color: $asphalt_color;
  }

  &--our-pets-current {
    color: $asphalt_color;
  }

  &--our-pets:hover {
    border-color: transparent;
    color: $signal_black;
  }
}
