.pets-card {
  display: grid;
  padding-bottom: 30px;
  justify-items: center;
  row-gap: 30px;

  background-color: $light_white;
  border-radius: 9px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: white;
  }

  &:hover .pets-card__button {
    border-color: $apricot_criola;
    background-color: $apricot_criola;
  }

  @include tablet {
    margin: 0;
  }
}

.pets-card__img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.pets-card__title {
  @extend %title;

  font-size: 20px;
  line-height: 23px;
  color: $asphalt_color;
}

.pets-card__button {
  @extend %link_button;

  padding: 13px 43px;

  border: 2px solid $desert_sand;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    border-color: $apricot_criola;
    background-color: $apricot_criola;
  }
}
